/* PC */
@media (min-width:64em) {
    .hide-on-pc {
        display: none;
    }
}
/* Tablet + mobile */
@media (max-width:63.9375em) {
    
   .hide-on-mobile-taplet {
        display: none;
   }
   .header {
        position: fixed;
        display: flex;
        z-index: 2;
       align-items: center;
       top: 0;
       right: 0;
       left: 0;
   }
   .header__cart {
        text-align: right;
        width: 80px;
   }
   .header__cart-layout {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        animation: mobileSearchSideIn ease-in 0.3s;
        padding: 0 calc((100% - 644px) / 2);
   }
   .header__cart-layout::before {
       display: none;
   }
   .header__sort-bar {
       display: flex;
    }
    .header__user {
        display: block;
    }
    .mobile-category {
        display: block;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
        padding-top: 10px;
    }
}
/* Tablet */
@media (min-width:46.25em) and (max-width: 63.9375em) {
    :root {
        --header-height: 68px;
        --navbar-height: 0;
    }
    .hide-on-taplet {
        display: none;
    }
    .header__cart {
        width: unset;
    }
}
/* Mobile */
@media (max-width:46.1875em) {
    :root {
        --header-height: 54px;
        --navbar-height: 0;
        --header-sort-bar-height: 36px;
    }
    .hide-on-mobile {
        display: none;
    }
    .header__with-search {
        justify-content: space-between;
    }
    .header__logo,
    .header__cart {
        width: unset;
    }
    .mobile__search {
        display: block;
    }
    .header__search {
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        z-index: 1;
        height: var(--header-sort-bar-height);
        padding: 0 12px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        display: none;
        animation: mobileSearchSideIn ease-in 0.3s;
    }
 
    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        left: 0;
        width: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    .header__sort-link {
        height: var(--header-sort-bar-height);
    }
    .product-item {
        margin-top: 4px;
    }

    .product-item__name {
        margin-top: 0;
    }
    .product-item__price {
        margin-top: 0;
    }
    .product-item__action {
        margin-top: 0;
    }
    .product-item__origin {
        margin-top: 0;
    }
    .pagination__item {
        margin: 0;
    }
    .home-pagination {
        margin-top: 26px;
    }
    .pagination__link {
        height: 28px;
        font-size: 1.6rem;
        min-width: 36px;
    }
    .app__container {
        padding: 4px 0 26px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .footer-layout{
        padding: 30px 20px;
    }
    .footer__heading {
        text-align: center;
    }
    .footer_list-link {
        justify-content: center;
    }
    .footer__app {
        justify-content: center;
    }
}